# Ignorar diretórios de build do Gradle
/build/
/.gradle/

# Ignorar arquivos de configuração do IntelliJ
/.idea/

# Ignorar arquivo de Build
/dist/*.jar

# Ignorar arquivos de classe Java compilados
*.class

# Ignorar arquivos de checksums do Gradle
.gradle/8.10.2/checksums/checksums.lock
.gradle/8.10.2/checksums/sha1-checksums.bin
.gradle/buildOutputCleanup/outputFiles.bin